*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    border: 2px solid black;
    margin: 2% 3% 0%;
    padding: 4%;    
    text-align: center;
}

main{
    border: 2px solid green;
    margin: 0% 3% 0%;
    padding: 4%; 
    text-align: right;
}

footer{
    border: 2px solid red;
    margin: 0% 3% 0%;
    padding: 4%; 
    text-align: center;
}